[2021-01-16 07:53] asherccohen opened #11 "Provide mock data from storybook gui"
I just discovered this awesome add-on, great job!

I plan to use it in a project and haven't experimented with it yet, would it be possible to provide mock data from the storybook gui (like we do with the controls addon for example).

This would be interesting as it would let the users (or product owners/sales managers) test some data without touching code.

I'm asking because the data that I disp

[2021-01-16 10:01] itaditya commented on #11
Hey @asherccohen glad you liked my addon. Your idea looked useful to me so I tried to implement it.

https://github.com/itaditya/msw-storybook-addon/pull/12/files

As you can see in the PR, whatever args you provide to the story, can be accessed in the `msw` parameter and used in the response.

### But there is a big problem.

When the args changes, the mock handler will update its response. Howev

[2021-01-20 17:14] asherccohen commented on #11
Thanks!and sorry for the late reply.

You saved me a couple of hours of digging, very much appreciated.

I will experiment a bit more and then come back to you!

[2021-01-28 22:10] sonicparke opened #16 "Angular Support"
Is there any reason this wouldn't work with Angular? It seems like it's not actually intercepting my requests.

It looks like it should've worked but it's returned the data from the actual endpoint and not what I've mocked:
![image](https://user-images.githubusercontent.com/1139721/106204330-6d295480-6182-11eb-8b99-957988508cca.png)

According to the console MSW is enabled
![image](https://user-im

[2021-02-02 06:01] itaditya commented on #16
Hey @sonicparke I don't work with Angular so I read some blogs and the official MSW example to get some info. From that, it looks like you're doing everything right.

Can you tell me what's the purpose of this snippet in the story file?

[code]

Another thing you can try is to clone the below repo and try to use the same handler, config in your example.
https://github.com/mswjs/examples/tree/maste

[2021-02-12 05:22] #16 closed

[2021-02-12 05:22] itaditya commented on #16
Closed due to inactivity. Feel free to re-open it.

[2021-02-12 05:22] #11 closed

[2021-02-15 10:07] blocka opened #18 "Multiple stories"
When I have something like:

[code]

when I switch from story1 to story2, it uses the resolver for story1.

[2021-02-15 10:35] blocka commented on #18
Turns out the issue was I called `client.resetStore()` before every story, and this caused the queries to be refetched.
`client.cache.reset()` is what I wanted instead

[2021-02-15 10:35] #18 closed

[2021-03-03 22:28] litan1106 opened #19 "All other requests got into mockServiceWorker."
The service worker worked fine in localhost:6006 but not in Azure Static Web App.

I deployed a storybook with msw-addon to Azure Static Web App but all requests got into the service worker.

![image](https://user-images.githubusercontent.com/1310539/109880945-603dcc00-7c2c-11eb-85b4-d3d321e18390.png)

[code]

[2021-03-05 19:25] #19 closed

[2021-03-11 10:01] MatthijsBe opened #20 "How should this work with vue3"
Hi,

I've a question regarding this addon and vue + graphql,  on the storybook addon page Vue is under "works with".

So I'm trying to add this to my story, in the example I only see React stories, those work with story Parameters.

Vue stories will work with Args, but when I add msw :[ query here] to my args, I will get the following error in my console:

![image](https://user-images.githubuserco

[2021-03-18 21:19] itaditya commented on #20
I haven't worked with Vue 3 before. From Storybook docs, it looks like story parameters are supported there also. Have you tried it? Currently my addon doesn't work with args

https://storybook.js.org/docs/vue/writing-stories/parameters

[2021-03-18 21:34] kettanaito commented on #20
Hey, @MatthijsBe. Could you please share your request handlers? (`graphql.query(...)`). Looks like you have a dynamic part in an endpoint that resolves to `undefined` on runtime.

[2021-04-20 10:40] cs-intellineers opened #25 "Storybook may freeze when switching to a story that sends requests but does not define any routes."
We have a Storybook setup for a React app. Unfortunately the repository is private. I will try to create a repository that allows to recreate this issue that I'll describe below.

The packages and browsers we use:
| Package name  | Version |
| ------------------------ | ------------- |
| @storybook/react  | 6.2.8  |
| msw  | 0.28.1  |
| msw-storybook-addon  | 1.1.0  |

| Browser  | Version |
| ---

[2021-04-20 10:43] cs-intellineers commented on #25
Also, removing `addDecorator(mswDecorator)` from the `preview.js` and applying the decorator only on stories that actually use mock routes does not change the outcome.

There is something with the service worker, that does not agree with our app.
Unfortunately, I do not know enough about service workers in order to know how to break them or avoid doing so.
Are there any common mistakes that are ea

[2021-05-04 19:24] yannbf opened #26 "Add support for node environments"
Storybook is awesome, and so is msw. I wrote [@storybook/testing-react](https://github.com/storybookjs/testing-react#readme) to allow users to completely reuse stories in tests, so that people don't need to create similar setups twice.
The library has incredible potential to work very efficiently with this addon, as long as it somehow supports non-browser environments. I have tweaked slightly with

[2021-05-11 21:08] kettanaito commented on #26
Hey, @yannbf. Thank you for putting this proposal down.

I think it's a good move forward, and I think we should give the Node.js support a try. It may get tricky deciding when Storybook is running in Node.js, but we can get to it during the collaboration on the pull request. Huge thanks for preparing that, by the way!

[2021-05-13 17:20] pedrohba1 opened #29 "mock service worker integration in storybook-build"
First of all, thanks for creating this addon, It's being really useful overall. However, I have a specific use case where when building storybook with the default `build-storybook` command, which generates the `storybook-static` folder, I want to be able to get data from the mock service provider.
Right now, when the build finishes, the mock service provider doesn't work (can't fetch any data).

H

[2021-05-26 12:32] SimeonRolev opened #31 "HTTPS setup"
Hi guys, I followed this guide: https://storybook.js.org/addons/msw-storybook-addon. But, in my case I need to have my domain in the URL, so I remapped as such (using Fiddler on windows 10): `localhost:6006   lib.domain.net`

In my `package.json`:
[code]
Running `npm run sb`:
- Works fine, followed your guide.
- http://localhost:6006/mockServiceWorker.js displays the content of the file.

Running

[2021-06-04 23:42] kettanaito commented on #31
Hey, @SimeonRolev.

Based on the error, the browser doesn't trust your certificate. Modern browsers would block untrusted certificates, which includes self-signed certificates you may use for local development on HTTPS.

To develop against a self-signed certificate, you need to configure your browser to trust it. There are a few ways to do so, please search for the most suitable option based on yo

[2021-06-04 23:42] #31 closed

[2021-06-04 23:46] kettanaito commented on #20
This addon, as well as MSW (underlying API mocking library), do not have any framework/library-specific logic. In other words, they work with any setup of your choice, as long as that setup produces valid HTTP requests. Based on the little info provided above, I can see that the request URL is invalid, as it includes `undefined` in it. This is very likely an issue on your side (i.e. a misplaced en

[2021-06-04 23:46] #20 closed

[2021-06-14 09:32] kettanaito opened #33 "Specify strict version range for the "msw" peer dependency"
## Current behavior

The `msw` package is specified as a peer dependency of the add-on using a wildcard as the expected version range:

https://github.com/mswjs/msw-storybook-addon/blob/3185bb6d610f109194fa51844d0db3f9cd3d7481/packages/msw-addon/package.json#L38-L40

## Expected behavior

The latest version of `msw` is specified as the acceptable range:

[code]

## Motivation

Using a wildcard ver

[2021-06-14 09:34] kettanaito commented on #29
Actually, as I discovered that we have a wildcard version range specified for the `msw` peer dependency, as long as you install `msw@0.29.0`, you'll have a build support in Storybook, as 0.29.0 includes the fallback mode feature that enables such support.

Please update and let us know. Thanks.

[2021-06-14 15:40] hyogman commented on #29
Hi @kettanaito,

Thank you for the awesome library 🎉

Could you point me to some docs or post here on how to set up `msw` and `msw-storybook` for a storybook static site?

[2021-06-15 10:59] kettanaito commented on #29
Hey, @hyogman. Thank you for the kind words!

Static builds support is enabled by default since `msw@0.29.0`. As long as you've got that, or higher, version installed, your request handlers will work in static Storybook builds.

You can follow the [MSW Storybook Add-on documentation](https://msw-sb.netlify.app/) to set the add-on in your Storybook project. There are no extra things necessary.

Not

[2021-06-15 10:59] #29 closed

[2021-06-17 14:18] BennaceurHichem opened #35 "Passing msw returned resuts into specific storybook component args"
I'm trying to pass the result of the MSW request added in parameters to a specific story component arg, the approach described in all examples shown in the doc is passing the endpoint URL as props into the component, then the component treats the result. In my case, I want to pass the result of the MSW request into the story component as props via args, which means that the data will be ready for

[2021-06-17 15:03] Zombobot1 opened #36 "[BUG] Interference with HMR"
Versions:
"msw": "0.27.2",
"msw-storybook-addon": "1.1.0",

I often get an error which forces me to reload storybook page.
![image](https://user-images.githubusercontent.com/48030070/122422309-55196c80-cf8d-11eb-9e7c-af1cc32c58dd.png)

I suppose that MSW intercepts one of HMR requests and fails.

At the same time I see this error in console:
[MSW] Failed to mock a "GET" request to "http://localhos

[2021-06-18 11:38] oanaOM commented on #29
Hey @hyogman and @kettanaito. I'm encountering the same issue: the mock service provider isn't being picked up at build time. Upgrading to `msw@0.29.0` didn't worked so was wondering if there is anything I need to look after?

[2021-06-18 14:04] kettanaito commented on #29
@oanaOM we are currently working on improving the Storybook add-on, which will include the exact dependency versions to ensure static build support. If updating to `msw@0.29.0` didn't help, I recommend waiting for the next release of this add-on. Thanks.

[2021-06-19 19:36] Zombobot1 commented on #36
I had to turn off this addon, because my storybook got completely broken. It cannot load anything and my console is full of errors like this:
![image](https://user-images.githubusercontent.com/48030070/122653655-4f1abb80-d146-11eb-995b-e8af7ca3ff6b.png)

[2021-06-21 17:51] oanaOM commented on #29
@kettanaito ohh cool, thanks for letting me know! Do you know what is the timeline for the next release?

[2021-06-21 18:27] beaussan commented on #26
Hi, I see that the pr is merged, do you have a time window for a new release of this addon that have this feature ?

Thanks !

[2021-06-24 19:58] yannbf commented on #26
@kettanaito @itaditya would you be able to release a new version?

[2021-06-25 11:37] kettanaito commented on #26
Hey, @beaussan, @yannbf. I don't think I have the necessary rights to publish this package to NPM.

@itaditya, could you please release the next minor version of the add-on?

[2021-06-26 19:51] stephan-noel-primer opened #37 "onUnhandledRequest drastically increasing execution time"
### Problem
Execution of visual tests on Chromatic goes from 3 minutes on average to around 18 minutes

Changing the following code:

[code]

to simply:

[code]

fixed the issue.

I'm not sure if the problem is with this addon, with msw itself, or with how the integration is being done.  If I want to workaround this and provide a fallback request handler to setupServer, I can't because there is no

[2021-07-02 14:09] tyankatsu0105 opened #38 "Add Typescript declaration file"
Storybook supports config files with TS if installed `ts-node`.
If exist a declaration file, TS users can use `initializeWorker` and `mswDecorator` when using `preview.ts`.

[2021-07-02 16:40] yannbf commented on #26
@itaditya would it be possible to setup an automated release process for the repo? We can use [auto](https://www.npmjs.com/package/auto) which makes things really really simple. Then we can move faster, and finally close a few issues in this repo 💃

[2021-07-13 18:47] winkerVSbecks commented on #26
@itaditya any chance you could release this in the next couple of days? I'm working on a new post about interaction testing and would love to recommend the MSW addon as the preferred method for mocking.

[2021-07-13 21:30] yannbf commented on #35
Hey @BennaceurHichem, thanks for using this addon!

I'm trying to understand your use case, but I'm a bit confused. MSW is reactive, so it will only proxy requests once they are done, and then intercept the request and manipulate its response. It's very handy when you want to manipulate data that is not readily available.

It seems like you want your component's args to _already_ have the data. If

[2021-07-13 22:01] kettanaito commented on #26
I've reached out to @itaditya and hope to get this matter resolved sometime this week. Thank you for your patience.

[2021-07-14 10:16] kettanaito commented on #26
`msw-storybook-addon@1.2.0` has been successfully published (see [release notes](https://github.com/mswjs/msw-storybook-addon/releases/tag/v1.2.0)).

@yannbf, should we close this issue?

[2021-07-14 10:19] kettanaito commented on #37
Hey, @stephan-noel-primer. Thank you for reaching out.

I can suspect the suggestions logic in MSW that can be the culprit here. Whenever there's an unhandled request, MSW looks up a list of suggested request handlers to account for typos and method/operation kind mismatches to improve the DX. This can be an expensive operation given a large number of handlers.

Your approach above is sensible. Pe

[2021-07-14 10:20] kettanaito commented on #38
Hey, @tyankatsu0105.

We are planning on improving this add-on, which includes rewriting it to TypeScript to come with the type definitions by default. I'll let you know once that work is complete.

[2021-07-14 10:53] yannbf commented on #26
Hey @kettanaito that news warms my heart <3
I just tested out in my project and it's just

<img src="https://i.kym-cdn.com/photos/images/newsfeed/001/168/676/09e.gif" />

1 - Deprecation notice to use `initialize` method instead of `initializeWorker`
2 - Tests work wonderfully and beautifully in node

@winkerVSbecks @beaussan time to try this out 🎉

Closing the issue now! Thanks a lot for this jou

[2021-07-14 10:53] #26 closed

[2021-07-15 02:34] tyankatsu0105 commented on #38
Cool! Thanks @kettanaito :)
So, should I close PR for this issue?

[2021-07-22 18:08] Je12emy commented on #19
I have the same problem in [Chromatic](https://www.chromatic.com/), I guess requests to localhost are being blocked by Chromatic, so it makes sense it won't work.

[2021-07-27 14:00] Secretmapper opened #42 "Getting global is not defined error"
Whenever using msw-storybook-addon, I get a global is not defined error.

The fact that I'm using [Storybook for Vite](https://storybook.js.org/blog/storybook-for-vite/) might be related

[2021-07-27 14:12] Secretmapper commented on #42
Removing server side rendering support (ie, removing `global` variable, IS_BROWSER else) makes msw work.

Probably because Storybook for vite doesn't use babel(?) and so preset-env doesn't get loaded

[2021-08-03 07:09] sklawren opened #43 "Inherit preview.js parameters handlers in stories"
As per [Storybook rules of parameter inheritance](https://storybook.js.org/docs/react/writing-stories/parameters#rules-of-parameter-inheritance), using msw in stories should inherit/concat the handlers from the preview.js parameters.

Example:
The API I am using requires that I make a call for an oauth token before I can call any API call. In the current way this addon works, I have to duplicate t

[2021-08-03 09:36] sklawren commented on #43
This might be an issue internal to storybook with array parameters. I'll check with Shilman.

[2021-08-03 10:06] shilman commented on #43
Storybook parameter semantics are:
- Merge objects hierarchically
- Replace arrays

Given these constraints, if you wanted inheritance I'd consider changing the API to something like:

[code]

[2021-08-03 10:13] sklawren commented on #43
Got it! I'll submit a PR.

[2021-08-03 15:56] kettanaito commented on #43
Thanks for raising this, @sklawren.

I wonder if we can implement the merge of lists internally in this add-on, would that be semantically appropriate for Storybook? We don't wish to introduce unexpected behaviors in regards to how users are used to Storybook handling story parameters.

That being said, using a map to declare/manage request handlers is not the best option. Here are a few reasons w

[2021-08-03 16:04] kettanaito commented on #43
Hey, @shilman. Thank you for the insights into how Storybook handles the parameters. May I learn more about the decision to replace arrays instead of accumulating them? I'm pretty sure there were some use-cases I'm not aware of that led to that design decision.

[2021-08-03 17:12] shilman commented on #43
@kettanaito If you accumulate arrays then there's no natural way to override anything that's defined in a higher level in the hierarchy. The decision was made five years ago, so it's all a distant memory at this point. But my recollection is that initially we merged arrays and then we backed it out based on problems it caused.

[2021-08-03 23:48] stevensacks commented on #43
I don’t think that there’s any difference between using an array and using an object with named arrays. It’s an irrelevant distinction. The only difference is that one can’t be merged by storybook and the other can.
[code]
These are all functionally identical when you use a flattener like `Object.values(msw.handlers).filter(Boolean).reduce(concatFn)`

[2021-08-04 01:51] shilman commented on #43
@sklawren this is an interesting pattern. i wasn't a fan initially because "object merge with array flattening" is harder to explain than "object merge", but if one really wants to use arrays, this gets that AND merge AND backwards compatibility, which is pretty cool. A+ for creativity. my vote would still be for the simplicity of object merge, but i've got no horse in this race! 🏇

[2021-08-04 03:13] stevensacks commented on #43
MSW’s use() expects an array of handlers.

Storybook only merges objects.

With this PR, the addon seamlessly bridges the gap between MSW and Storybook.

The MSW “preferred practice” of using a composer function can still be used with this implementation. Or, you can opt for the “Storybook approach” of merging object parameters. Whether one is better than the other is open to opinion and differs b

[2021-08-05 02:39] stevensacks opened #45 "Conflict with Chromatic and google fonts"
I've discovered a conflict with the msw addon and Chromatic that needs to be addressed.

For some reason, the msw addon is capturing all http requests, not just the ones you assign it. If there isn't a defined handler, it passes it through.

I am using google fonts and MSW tries to load the google fonts itself before passing the request through to google (I can see it in the console warning locall

[2021-08-05 03:09] stevensacks commented on #45
I found the Chromatic [delay documentation](https://www.chromatic.com/docs/delay).

I added this to my preview.js parameters
[code]
And that seemed to solve the issue.

[2021-08-05 13:41] MattCarr147 opened #46 "Enable default handlers to be specified"
I've recently started using MSW and I have some 'default' Mock API handlers defined under a 'mocks' directory which I use with MSW during development (when the API endpoints aren't in place, etc).

Unless I'm testing a particular request scenario (e.g. a loading state, error state), I'd ideally want these default handlers to be used by stories/tests. I plan to use msw-storybook-addon for defining

[2021-08-16 21:52] dominictwlee commented on #46
I think you can do this in your `.storybook/preview.js`

[code]

[2021-08-18 10:52] MattCarr147 commented on #46
Thanks @dominictwlee, that's the solution I opted for in the end too and seems to be working for my needs so far. Cheers for the heads up about the gotcha in #43 though, was unware of that.

I'll close this one for now and keep an eye on #43 👍

[2021-08-18 10:52] #46 closed

[2021-08-23 21:38] KL13NT opened #47 "Webpack 5 Throws ModuleNotFoundError"
Hi, I'm using Webpack^5.46.0, @storybook/react^6.3.4, msw-storybook-addon^1.2.0, and msw^0.35.0. I have Storybook configured to use Webpack 5. Whenever the Storybook dev server is running and I modify the preview to initialize the worker, it works. But when I shutdown the server and restart it, it breaks with the following error:

[code]

This error is thrown multiple times for multiple packages.

[2021-08-23 21:57] KL13NT commented on #47
Right now what I do to get this to not throw is remove the addon's decorator and initialize code from `preview.js`, wait for the dev-server to startup successfully, and then change `preview.js`.

If I add the addon's initialize code before starting the server, it throws.

[2021-08-24 04:33] mouhannad-sh commented on #47
Went through the same thing just now...
following the error traces I tried the following and it worked for me (looking for a better solution :D )

I followed the setup guide from storybook to [support webpack 5](https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324)

my deps look like this now:
[code]
Then in `.storybook/main.js` I have a custom webpackFinal setup to modify SB's pollyfi

[2021-08-28 07:36] KL13NT commented on #47
Thanks @mouhannad-sh, this worked perfectly for me. I suppose mswjs depends on some Node modules even when using it in the browser which explains why Webpack's fallback defaults were needed previously.

[2021-09-01 16:20] brettdewoody commented on #42
Where did you remove SSR support to make this work?

[2021-09-06 13:01] kettanaito commented on #45
Hey, @stevensacks. Thank you for reporting this.

While setting the `chromatic.delay` option resolves the issue, it's rather a workaround than a solution.

Yes, this is correct and expected.

I'm not sure what you mean by that. This is what's going to happen when an unhandled request happens:

1. Request is captured by the Service Worker.
2. Service Worker [resolves its response](https://github.co

[2021-09-06 13:04] kettanaito commented on #47
Is there any stack trace to these errors?

MSW mustn't use any Node.js modules in a browser. We have two separate builds for the browser and Node.js. Can somebody confirm that a clean Storybook setup with webpack 5 behaves properly without the polyfills but adding this add-on results in errors?

[2021-09-06 13:05] kettanaito commented on #42
This should be resolved in #41. Please wait for the next add-on release. Thank you.

[2021-09-06 13:05] #42 closed

[2021-09-07 02:24] sklawren commented on #43
It's been over a month since the last comment. Where do we stand on this?

[2021-09-07 12:06] kettanaito commented on #43
Maintainers of this repository were quite overwhelmed by personal and open-source work so it takes time to find a proper solution here. I'd gladly spend another month if it means deciding on the API that'd be comfortable for our users in the long run. Rushing is never an option.

At the moment, given more context over why object structure is beneficial, @yannbf and I have put down an incremental i

[2021-09-08 14:53] kettanaito commented on #45
Any network requests are subjected to latency, regardless if they're processed by a Service Worker. The fact that the Service Worker introduces latency in your case doesn't create an issue, only allows it to surface. There's a race condition between your request to Google Fonts and your test, that's why you get an intermittent test behavior.

Using timeouts is not a good idea to solve race conditi

[2021-09-09 06:57] stevensacks commented on #45
Before I added msw, google fonts loaded in time for Chromatic snapshots 100% of the time.

After I added msw, the latency issue with loading google fonts appeared.

If you have complaints about how Storybook works, then you can bring them up with the Storybook team. You shouldn't put the burden on the developer who is using the plugin.

I'm asking you to give a helping hand to the people who are u

[2021-09-09 11:28] kettanaito commented on #45
Sorry for phrasing it wrong, perhaps. My statement above explains that the issue you experience isn't related to the add-on. Network latency may occur at any time and must be accounted for in your setup. If Service Worker introduces a latency, there's little we can do, as we haven't authored the Service Worker spec. Regardless, it's not an issue to be addressed on the add-on's side. Perhaps raisin

[2021-09-09 11:36] kettanaito commented on #45
I don't deny the possibility that there's an issue somewhere. But until that is proven, I treat this as a general race condition issue in your setup, as we don't have anything specific that'd affect the latency.

[2021-09-12 12:33] stevensacks commented on #45
I think there's a miscommunication here, and you perceiving a negative tone is due to a limitation of text as a medium, and this being made into a bigger deal than it is.

I would like to clarify a few things.

First and foremost, I respect you as a developer and I am grateful that both msw and this Storybook plugin for msw exist. Second, I am not saying that there anything is wrong with this Stor

[2021-09-15 10:35] sklawren commented on #47
I just upgraded my project from gatsby 2 to 3, which switches to webpack 5.

I followed all the instructions in the storybook webpack 5 documentation, and Shilman helped me debug it and this error kept happening.

I noticed the `@mswjs` in the ModuleNotFoundError, commented out the msw initialization code in preview.js
[code]
Storybook launched without issue.

I followed @mouhannad-sh instructions

[2021-09-15 11:08] sklawren opened #48 "CircleCI throwing errors during build process"
My project is Gatsby v3, with Storybook and the MSW Storybook plugin. I am only using MSW in Storybook and nowhere in the Gatsby site itself.

In the CircleCI build, these errors appeared in the log. It didn't break the build (as far as I can tell), but I'm on a feature branch right now which doesn't attempt to deploy the entire Gatsby site. It just builds it enough for the Storybook to build and

[2021-09-15 22:30] kettanaito commented on #47
Based on the stack trace, the issue is caused by the client-side Storybook loading a Node.js version of MSW (`setupServer`). That latter rightfully relies on Node.js built-ins like `http` because it's designed to run in that environment.

@yannbf, do you think this may be an issue we've introduced with the worker/server dual support recently?

[2021-09-16 20:58] yannbf commented on #47
That seems like it! However I don't understand why it would happen if that code is supposed to be lazy loaded 🤔
I'd love to check about this issue, though I'm not sure how to reproduce it. Can anyone provide a minimal repro?

[2021-09-17 02:12] josh-biddick commented on #29
@kettanaito - I'm on `msw@0.31.0` and still unable to see this working. This would be great feature to have! Keep up the epic work.

[2021-09-29 17:04] aurbano commented on #38
Any update on this?

[2021-09-29 18:40] donferi commented on #47
Hi @yannbf by any chance do you have a minimal repro? I'm experiencing the same issue in a different non-storybook repo but I haven't been able to isolate the issue. For some reason the server code is getting bundled even if my require is behind a conditional 🤔

[2021-10-06 21:59] MIreland opened #50 "Storybook-Vite-Builder: requested module does not provide an export"
I'm attempting to use msw-storybook-addon with storybook-builder-vite, and running into the following error:

<img width="652" alt="image" src="https://user-images.githubusercontent.com/1170700/136289037-142e3d9b-e42a-43f0-b04e-91621798ad81.png">

Any suggestions on how to resolve this?

I'll aim to get a code sandbox up if I get a chance

[2021-10-07 17:01] sirugh opened #52 "MSW is initialized after story renders on refresh or fresh load"
I am using msw addon to mock graphql calls for apollo client. I have added it as per the installation docs, however I am seeing errors when I load a component that makes a query on mount. To work around this, we have to tell people to "refresh" the page after they first load. Note that it does not occur after you load, navigate to a new story, and then return, within the same SPA (not using browse

[2021-10-07 17:23] #52 closed

[2021-10-09 22:18] yannbf commented on #50
Hey @MIreland thanks for opening this issue! I haven't really used this addon with vite so it would be incredibly helpful if you could provide a repro for it! Let me know and I'll try to figure out what's going on :)

[2021-10-09 22:24] yannbf commented on #47
Hey @donferi the thing is that webpack can't really tell whether a code will run at runtime or not, so even if you are 100% sure the node code will not run on the browser, webpack will still try to process it. There's a long discussion about that [here](https://github.com/webpack/webpack/issues/8826) if you'd like to get more context about it!

[2021-10-10 20:37] yannbf commented on #48
Hey @sklawren thanks a lot for reporting this issue! Although I think it will a bit difficult to investigate.

@kettanaito I believe this problem could be more related to the MSW dependency than to this addon. Can you confirm?
Seems like a library is trying to use nullish coalescing however it's not supported because maybe the project's target is not high like ES11 ?

[2021-10-10 20:46] yannbf commented on #35
Hey @BennaceurHichem sorry but it's been quite some time and we haven't had an answer with more info. I'll close this issue if you don't mind. Feel free to open it again in case you have more information that could help us help you out!

Once again, thanks for using this library!

[2021-10-10 20:46] #35 closed

[2021-10-10 22:37] kettanaito commented on #47
The issue should be fixed by #53.

[2021-10-10 22:37] #47 closed

[2021-10-11 14:50] groupsky opened #54 "[Feature] Provide mockServiceWorker automatically"
Currently the installation [instructions](https://msw-sb.vercel.app/?path=/story/guides-installation--page#generate-service-worker-for-msw-in-your-public-folder) ask to use the msw cli that copies the service worker to the public folder, but that seems to pollute the folder and does not allow for future updates. Instead I think it should be possible to tap into storybook's build/server and provide

[2021-10-11 15:40] IsidorusHispalensis opened #55 "Percy Visual Regression fails with timeouts when initializeWorker is called"
We are using MSW to run visual regression using Percy and recent update of npm packages leads to timeouts in E2E tests.

Package name | Version
-- | --
@storybook/react | 6.3.10
msw | 0.35.0
msw-storybook-addon | 1.4.0

Unfortunately the repo is private and I am not able to share it but I can create an empty one if you want, steps to reproduce:

1. Create an empty folder and initialise it with npm

[2021-10-16 21:32] #43 closed

[2021-10-28 10:19] #54 closed, assigned to nobody

[2021-10-30 17:59] oscard0m commented on #55
@wwilsman @Robdel12 Tagging you since I see you are the most active in `@percy/storybook`. Any clue con what could be the issue? Is Percy compatible with Service Workers (MSW uses one for mocking API responses)?

Sorry if I tagged the wrong Percy team members here, I just pretend to give some visibility to the issue. I'm not sure if it's more related to `msw` addon or to `Percy`

[2021-11-01 07:18] KondakovArtem opened #56 "Storybook + msw + cypress"
Hello. I connected your addon to the storybook. Everything works great. Now the problem is how you can use it in cypress tests. It appears that cypress does not intercept msw requests configured via msw-storybook-addon

[2021-11-03 11:12] ArtifexEt commented on #56
As a temporary solution, I suggest you use route, which fortunately works

https://docs.cypress.io/api/commands/route#Syntax

[2021-11-03 13:05] KondakovArtem commented on #56
thanks. indeed, that works!
Hopefully the route will not be deprecated at all.

[2021-11-05 18:55] jefffohl commented on #55
Also having this issue. My guess is that this is a Percy issue. Guessing the Percy doesn't support service workers?

[2021-11-05 19:06] Robdel12 commented on #55
👋🏼 It's likely causing issues with asset discovery. Percy's SDK needs to request the assets to save them. Can you share debug logs? https://docs.percy.io/docs/debugging-sdks#debug-vs-verbose-logging

My guess is asset discovery can't request/save assets because they're being mocked or blocked.

[2021-11-05 19:09] jefffohl commented on #55
Thanks @Robdel12 - I just started working with Percy today. I will look for logs and share them.

[2021-11-05 20:14] jefffohl commented on #55
@Robdel12 here is the output of running percy with storybook in debug mode. There are a number of types of errors. I am not sure which are the relevant ones.

The process for obtaining this output is:

1. Launch Storybook to run on port 6006
2. Storybook is configured to launch `msw` through this in Storybook's launcher, `preview.js`:
[code]
3. Run Percy: `npx percy storybook http://localhost:6006

[2021-11-16 04:09] chornos13 commented on #25
I have the same issue, has anyone found the work around ? besides disabling waitUntilReady ?

[2021-11-16 11:26] ketain opened #57 "Readme discrepency"
I have recently started to use the `mws-storybook-addon` but but found the following discrepency between the docs and the actual code and was wondering what the supposed correct variant is supposed to be.

| Package Name  | Version  |
|---|---|
|  msw |  0.35.0  |
|  mws-storybook-addon  |  1.4.1  |
|  storybook-react  |  6.3.12  |

On the official [npm](https://www.npmjs.com/package/msw-storybook

[2021-11-18 09:48] FezVrasta commented on #55
My tests hang with the official puppeteer storyshots addon, Storybook itself works fine when I run it, but it times out when I run the tests.

[2021-11-18 19:10] CollinMonahanLab49 opened #58 "still seeing ModuleNotFoundError"
I saw recent [issue Webpack 5 Throws ModuleNotFoundError](https://github.com/mswjs/msw-storybook-addon/issues/47) and related [PR fix: add webpack5 support](https://github.com/mswjs/msw-storybook-addon/pull/53)

I was led to this issue because following install and setup of msw-storybook-addon I see a similar error on storybook startup, `ModuleNotFoundError: Module not found: Error: Can't resolve

[2021-11-18 19:34] CollinMonahanLab49 commented on #58
Just as another verification that this project is up to date, in `node_modules/msw-storybook-addon/dist/mswDecorator.js` I see,
[code]

The project is created with NextJS `create-next-app` and it has the `next-pwa` plugin that installs a different service worker in the production build. Perhaps one of these aspects might make a difference.

[2021-11-18 19:42] CollinMonahanLab49 commented on #58
Adding fallbacks to webpackFinal as in the original issue seems like a workaround.

[2021-11-18 20:18] shanesveller commented on #57
The README was updated simultaneously with the behavior but those changes are in a commit that's not part of a tagged release at the time of writing:

https://github.com/mswjs/msw-storybook-addon/commit/8ad5a6e9190e14735aaef87e074bf4842d57bf5a
The correct README to reference in the meantime is https://github.com/mswjs/msw-storybook-addon/blob/v1.4.1/README.md.

[2021-11-18 20:55] yannbf commented on #57
Hey everyone, thanks for notifying! I'm working on updating the docs and making another release so please follow the link from @shanesveller for now. Sorry for the inconvenience!

[2021-11-19 15:31] FezVrasta opened #59 "Not working with addon-storyshots-puppeteer"
Hi, this addon seems to break the Storybook storyshots addon. Here's a repro (I simply ran `yarn create react-app && npx sb init` and then added storyshots and msw):

https://github.com/FezVrasta/msw-storybook-test

Just run `yarn test storybook.test.js` and you will notice the tests error due to a timeout.

[code]

Could you please look into it?

[2021-11-20 17:30] yannbf commented on #59
Hey @FezVrasta thanks for pointing this out. I believe the problem is related to a combination of `puppeteer` and `msw/node`.

What you can do to circumvent this for now is to add a check in your `preview.js`:

[code]

---------

@kettanaito do you have any idea what could be going on? I was debugging and I reached the following warning:
[code]

I removed the msw-addon stuff from preview.js and us

[2021-11-21 21:45] yannbf commented on #38
Hey everyone, sorry for such a long wait. There is currently an open PR to fix this.
Thanks for your patience!

[2021-11-23 09:16] oscard0m commented on #55
I think I'm experiencing the same error. When starting Storybook in local with `MSW` add-on integrated all seems to be working perfectly and the expected requests are handled by the service worker.

When putting Percy in the middle is when MSW does not play well with Storybook apparently.

### Steps to reproduce it:

1. `build-storybook -s public` -> ✅
2. `percy storybook ./storybook-static --verb

[2021-11-23 16:45] jefffohl commented on #55
One possible workaround could be using the http-middleware module. Run the same mocks using a node server instead of a service worker when running Percy tests: https://github.com/mswjs/http-middleware

[2021-11-23 16:51] Robdel12 commented on #55
Likely what will need to happen. Since this is a network interception library, it looks like it's doing its job by intercepting network requests. Percy also watches requests being made in the browser to capture them, so it sounds like this library is preventing that from happening (https://docs.percy.io/docs/debugging-sdks#how-sdks-work)

[2021-11-23 18:12] oscard0m commented on #55
I'm going to take a look into this. Thanks for sharing @jefffohl.

Thanks @Robdel12 for the information and detailed answer on how Percy works with assets of a web app. I learnt a lot reading that explanation. Still, there is something not clear to me yet:

Even the Service Worker provided by `MSW` captures all the requests and handles the ones configured by the provided `handlers`, the rest of th

[2021-11-24 16:33] kettanaito commented on #50
@yannbf, this may be related to the issue: https://github.com/mswjs/msw/issues/670

I'm running the reproduction repo above and get the same error:

[code]

When inspecting the published `msw-storybook-addon`, I can also see that it doesn't export all the things properly from its `main` module (there's only `mswDecorator` variable, everything else must be accessed via `'msw-storybook-addon/dist/ms

[2021-11-24 16:35] kettanaito commented on #50
This looks like a bundler issue at first glance. The module is installed, it does export the things I'm importing in `.storybook/preview.js`. The things that _bundles_ `preview.js` throws the exception. It may be connected to virtually anything: wrong module resolution, incompatible targets, internal specifics of tools. We need to find a way to narrow the problematic surface down...

[2021-11-25 11:14] neldeles opened #63 "The last declared `handler` is applied to all stories in a file."
I'm trying to use the MSW add-on with React Query. Am experiencing an issue wherein the last declared handler is what's used for all stories in a file.

[code]

The **"Error state"** handler is what's applied to all stories in the file. If I swap **"Loading state"**  and **"Error state"**, it's the **"Loading state"** that's applied to all stories in the file. As an additional check, I changed the

[2021-11-30 23:40] #38 closed

[2021-12-02 14:43] yannbf commented on #57
Hey everyone! Version 1.5.0 has been released and the API is now aligned with what's in the documentation. Thanks for your patience!

[2021-12-02 14:43] #57 closed

[2021-12-05 00:56] neldeles commented on #63
I changed nothing with my code. Only thing I did was update to Storybook 6.4.7 and issue has been resolved.

[2021-12-05 00:56] #63 closed

[2021-12-07 12:26] robcaldecott opened #65 "getWorker() TS issue"
[code]

This is odd, the following code generates a TS error even though on the face of it the types look OK:

[code]

It seems to think `close` is missing from `SetupApi` but that doesn't make sense.

I have created a sample repo here:

https://github.com/robcaldecott/msw-storybook-addon-type-errors

Current workarounds are either `// @ts-ignore` or this:

[code]

Better ideas are welcome.

[2021-12-09 14:48] HarmonicTons opened #66 "Live demos not working?"
Hi,

When accessing https://msw-sb.vercel.app/ none of the demos seem to work. The data displayed in the `Mocked Success` are the actual data, and no error is shown in the `Mocked Error` stories.

A screen capture:

![image](https://user-images.githubusercontent.com/19567391/145418170-fdbd200e-b4d4-4842-a94b-2d9b38a495ce.png)

You can see the API calls being done.

Am I missing something?

Thanks!

[2021-12-09 22:40] kettanaito commented on #29
Hey, @josh-biddick. Could you please share the exact error you're getting during the build? At this point, the static build support should be functional, so the issues you experience may be of a different nature. I'd like to learn more.

[2021-12-10 22:20] tmikeschu opened #67 "Allow `parameters.msw` to be a function that takes `args`"
Hello! I'm stoked to see this library growing so much. At work we still have a custom setup for Storybook and MSW because we're using `args` to result in dynamic MSW calls.

I wonder if you could add something like

[code]

Where the story meta would be:

[code]

[2021-12-11 08:39] itaditya commented on #67
Some discussion on this has happened before. Might be still relevant

https://github.com/mswjs/msw-storybook-addon/issues/11

[2021-12-11 11:49] yannbf commented on #67
Hey @itaditya thanks for referring that! There are a couple of things happening on the storybook side that will allow us to bring a proper control panel experience to this addon, I just need to discuss more with the team and prototype in this addon:

[Targeted args](https://github.com/storybookjs/storybook/pull/16333) will allow users to define args specifically for addons, which will not be passe

[2021-12-17 01:02] cgat commented on #59
[code]

@yannbf Am I correct in thinking that this will disable `msw` when pupeeter is running, effectively making the actual api calls?

[2022-01-05 15:51] will-stone opened #68 "Require function is used in a way in which dependencies cannot be statically extracted"
Hi,

Firstly thank-you for all the hard work on `msw`, it really makes mocking end-points really easy. I have found that on latest Storybook (6.4.9), there's a warning in the console:

[code]

It is referring to [this line](https://github.com/mswjs/msw-storybook-addon/blob/8eaee90cbbed4cc2768b76122f4f07e0f1b79733/packages/msw-addon/src/mswDecorator.ts#L41). I have found simply commenting it out di

[2022-01-05 16:03] will-stone commented on #68
When I installed this project it resolved to Storybook 6.3.8 and the issue was still prevalent, so it's not isolated to just the most recent version. Would you like me to submit this as a PR?

Before:

<img width="1312" alt="image" src="https://user-images.githubusercontent.com/654103/148248970-559bcb9f-0b86-4e0e-9691-e10a381d7ab3.png">

After removing the `globalThis.__non_webpack_require__ = req

[2022-01-22 17:00] yannbf commented on #68
Hey @will-stone thanks for opening the issue and doing this investigation! The reason for that code is to support Webpack 5 codebases.

You can check [here](https://github.com/mswjs/msw-storybook-addon/issues/47#issuecomment-939369849) for more context. I'm not sure if there is a better way to support Webpack 5 and remove that warning, I'd love to hear some ideas and I appreciate your efforts!

[2022-01-22 17:12] yannbf commented on #66
Hey @HarmonicTons thanks a lot for catching that! We recently moved the example from netlify to vercel and it seems like the files exported from `public` directory (like public/mockServiceWorker.js) that should be directly accessible in https://msw-sb.vercel.app/mockServiceWorker.js are resulting in a 404. @kettanaito this might just be a config in vercel we are missing?

[2022-01-22 23:19] kettanaito commented on #66
Thanks for reporting this. This definitely looks off.

@yannbf, not sure but it may be. I haven't updated anything recently (don't think I even can).

There's this runtime error in the console:

[code]

Unfortunately, it doesn't point to any source or a file reference. I suspect this is an error related to the worker script not being fetched properly. I don't see any request to fetch the worker sc

[2022-01-22 23:25] kettanaito commented on #66
Let me check if the worker script is present to the Storybook's output directory after `yarn build`.

[2022-01-22 23:30] kettanaito commented on #66
So our Vercel deployment is configured to serve everything under the `packages/docs/storybook-static` directory after the build. The thing is, the worker script is never in that directory after the build. The `public` directory of the NextJS docs project is never respected/copied in any way. You can confirm that yourself by trying to load [robots.txt](https://msw-sb.vercel.app/robots.txt), which i

[2022-01-22 23:32] kettanaito commented on #68
It'd be great to find a better way, but the native `require` is stubbed by webpack, causing all sorts of issues when used in our scenario. Escaping that stub produces the warning you're mentioning.

This is not an issue, however, as static dependency analysis is primarily needed for production build optimization.

[2022-01-22 23:33] yannbf commented on #66
`build-storybook -s./public` would be enough for Storybook to copy the assets over to the built output

[2022-01-23 00:04] kettanaito commented on #66
@yannbf, a fantastic mention. It helped me figure out that we were using the wrong command in the root-level `yarn build` for the docs repo.

[2022-01-23 00:07] #66 closed

[2022-01-23 00:15] kettanaito commented on #66
The demos are now properly using MSW.

[2022-01-23 09:47] will-stone commented on #68
Using [the solution that is linked to in the comment](https://github.com/webpack/webpack/issues/8826#issuecomment-660594260) seems to work:

[code]

[2022-01-24 00:35] kettanaito commented on #65
Hey, @robcaldecott. Thanks for reaching out.

We need to improve on our type annotations (and also rename `getWorker`, it made me believe you're referring to the Service Worker, when, in fact, the add-on properly assigns the `api` to the worker/server depending on the environment).

I wonder if one can do conditional types based on the environment. The least we can do right now is to make `getWork

[2022-01-25 15:28] kettanaito commented on #68
That sounds like a great approach, @will-stone. Would you like to open a pull request so we could release it?

[2022-01-25 17:43] will-stone commented on #68
Sure @kettanaito, will do 👍 Thanks.

[2022-01-26 23:37] itwasmattgregg commented on #67
Very excited for this feature. Let me know if you want assistance writing these changes.

I was able to make it work by implementing my own handler which could be done at the story or component level.

Example here:
[code]

[2022-01-28 10:33] filipw01 commented on #55
Does anyone have a sample repo with a workaround solution with [http-middleware](https://github.com/mswjs/http-middleware)?
Are there other workarounds for this?
Are there any plans to fix it either from the MSW addon or Percy cli perspective?

[2022-01-28 15:28] Robdel12 commented on #55
One workaround could be to add a custom user agent config to Percy's asset discovery browser: https://docs.percy.io/docs/cli-configuration#discovery then when that UA is detected in storybook you would disable this addon.

Percy is doing request interception at the browser level via CDP. So any network request that runs through the browser will be seen & processed by the SDK.

[2022-02-23 18:27] Wezea commented on #58
Unfortunately, I ran into that issue as well using CRA:

**devDependencies**:
[code]

When I am running `build-storybook` I get this:

[code]

Any idea what could be wrong with my setup?

Thank you very much! It's an awesome tool!

[2022-02-24 14:41] chiptus commented on #47
still get the same issue

[2022-02-24 15:43] kettanaito commented on #47
Please update to msw@latest.

[2022-02-24 16:04] chiptus commented on #47
my problem was with using the wrong `rest`

[2022-03-04 16:12] ninjarogue commented on #47
I'm having a similar issue (mode not found errors when running app on the browser) without storybook. I'm importing a type from 'msw/node', could this issue have something to do with that?

[2022-03-07 00:08] #68 closed

[2022-03-07 04:33] sklawren opened #74 "Dependencies are out of date with MSW"
I have msw 0.38.2 in my project. I tried to update this addon and npm failed with this error:
[code]

[2022-03-08 13:29] kettanaito commented on #47
Hi, @ninjarogue. I belive I've replied to you in another thread. You have the mistake of missing `setupWorker` and `setupServer` in the same module. Those functions are meant for different environments and you cannot import them in a single module. Please split them by modules as shown in [the examples](https://github.com/mswjs/examples/tree/master/examples/rest-react/src/mocks) and the issue will

[2022-03-08 13:31] kettanaito commented on #74
Hey, @sklawren. Thanks for reporting this.

It looks like the `msw` peer dependency version is locked under the 35 - 36 range:

https://github.com/mswjs/msw-storybook-addon/blob/ecd05995bc6b81748300b60acb37651d84d623c3/packages/msw-addon/package.json#L42-L44

We should consider updating it. Not sure if including a permissive range like `0.x` is a good idea given minor releases can have breaking AP

[2022-03-11 09:27] yuzhanglong opened #75 "bug: wrong base url"
The default root path doesn't feel very good：
<img width="665" alt="image" src="https://user-images.githubusercontent.com/56540811/157839548-fb7d2fd6-6cca-4199-a510-b2a96f455488.png">

This can cause some problems, and if you don't deploy your site in the root path, the MSW will fail.

[2022-03-11 09:30] yuzhanglong commented on #75
Some people have met this problem too：https://github.com/mswjs/msw-storybook-addon/issues/29
<img width="953" alt="image" src="https://user-images.githubusercontent.com/56540811/157839985-70a8c074-cfa3-4e95-8864-5f07aa9d0ea4.png">
cc @KrzychuR

[2022-03-11 23:37] kettanaito commented on #75
Hey, @yuzhanglong.

MSW recommends you always serve the worker from the root path. This way the worker has the highest possible scope, being able to intercept requests regardless of what page in your application is issuing them. That is why the default worker script URL is `/mockServiceWorker.js`, expecting MSW's worker and your app (or Storybook in this case) to be served from the root.

That bei

[2022-03-11 23:37] #75 closed

[2022-03-11 23:38] kettanaito commented on #74
Hey, @yannbf. Let me know if you need any help updating the dependencies. There were no user-facing breaking changes since 0.38.0.

[2022-03-11 23:48] yannbf commented on #74
Will do it tomorrow!

[2022-03-13 16:14] yuzhanglong commented on #75
thank you~

[2022-03-15 11:28] kettanaito commented on #75
For posterity, using a custom base URL for your application falls under the [Using custom `homepage` in package.json](https://mswjs.io/docs/getting-started/integrate/browser#using-homepage-property-in-packagejson) notice we have in the documentation.

[2022-03-17 09:04] esquevin commented on #50
Vite, just like webpack 5, does not provide node polyfills.
There is some specific code to make it work for webpack 5, it may need to be extended to support other bundlers :/

cf https://github.com/mswjs/msw-storybook-addon/blob/361418ed803f0dbbbab13f864f29b62ffb71d518/packages/msw-addon/src/mswDecorator.ts#L32

[2022-03-17 12:16] fhavrlent opened #77 "Service Worker script does not exist at the given path"
Hello, we have a storybook running in a subdirectories (for PRs and also one stable version). Msw was not working out of the box for this setup, but then I used #75 setup.

[code]

Issues is, we are still getting an error that file does not exist in the path. But when I click on the link in the error message, I am taken to `mockServiceWorker.js`, so it obliviously exist in the location.

[code]

W

[2022-03-22 23:29] kettanaito commented on #77
Hey, @fhavrlent.

Just to clarify, do you confirm that the worker script is accessible via this URL?

[code]

Even if it is, I think it won't be able to register at the `https://cdn.blabla.no` scope. Service Workers can register and control client routes that are equal to the worker script's location or are its children. I'm talking about this [in here](https://mswjs.io/docs/recipes/debugging-unca

[2022-03-23 11:17] fhavrlent commented on #77
Hello @kettanaito ,

yes, the script is accessible via that URL + the storybook is placed in the same folder, so intercepting requests should not be an issue. At least I have no way to test it since it is acting like there is no worker script at all.

[2022-03-23 16:25] coler-j opened #78 "Integration with Actions addon?"
It would be nice to integrate with the actions addon so request data could be made visible within the actions tab.

[2022-03-23 19:06] #78 closed

[2022-03-23 20:55] yannbf commented on #74
Hey @kettanaito do you happen to know why there was no release for this change?

https://github.com/mswjs/msw-storybook-addon/runs/5652564872?check_suite_focus=true

[2022-03-23 21:20] yannbf commented on #78
This is an interesting request. @kettanaito if we want to improve the addon by providing a panel to visualize the requests, would that be doable with https://mswjs.io/docs/extensions/life-cycle-events#tracking-a-request ?

This is an example of a panel from the miragejs addon, where they show the request and response:

![image](https://user-images.githubusercontent.com/1671563/159797593-99d38669-c

[2022-03-25 14:46] andrzej-kodify commented on #55
I've came up with the following code placed in `.storybook/middleware.js`

[code]

Few notes:
1. This will of course only work with storybook server, not with the static build
2. It's good to include `cors()` middleware if you want to set up dedicated mock server instead of using the storybook one. Here it's probably not necessary at all as mock shares `host:port` with storybook
3. It was vital to

[2022-03-31 13:55] gazs commented on #25
Hello, I've just opened a PR with a working solution: https://github.com/mswjs/msw-storybook-addon/pull/79

[2022-04-04 20:02] davidpshea commented on #74
This is still a problem with add-on 1.6.1  - it doesn't work with msw 0.39.2

[2022-04-04 23:14] kettanaito commented on #74
Hey, @yannbf. Strange, the CI states that there we no changes to be released:

[code]

I think that's because `dep:` prefix does not trigger releases in Semantic Release:

[code]

We should rewrite that commit to be either `fix:` or `feat:`.

[2022-04-06 17:03] fazulk opened #80 "Race condition but only in chromatic?"
So far no issues running storybook locally via `start-storybook`,

but seeing a race condition when building storybook for chromatic. Looks like The interceptor gets loaded after the story tried to access apis.

Here is my current setup
[code]

And in my `preview.js`

[code]

`handlers` is an array of `RestHandler` endpoints

When loading the built story:
![image](https://user-images.githubusercon

[2022-04-06 17:16] fazulk commented on #80
Building stories, and serving locally works, it's just an issue with chromatic from what I can tell. Perhaps i should post this issue over there, if the above code looks fine?

[2022-04-06 23:30] yannbf commented on #74
Seems like it all worked well and 1.6.2 got released! Please try it out and let us know if there are any issues with it. Thank you!

[2022-04-07 15:07] drianoaz commented on #74
I'm using MSW package version `^0.39.2` and same peer dependency warning still occurring after release `1.6.2`.

Apparently the version declared inside of the peer dependency declaration is invalid. Maybe the value must be `^0.35.0` instead of `^0.35`

<img width="990" alt="image" src="https://user-images.githubusercontent.com/15058771/162230216-01c61661-b7f6-456a-ac3f-c0c64ebbf559.png">

[2022-04-07 17:25] fazulk commented on #80
I resolved this by upgrading vite from `2.8.6` to `2.9.1`.

[2022-04-07 17:25] #80 closed

[2022-04-08 14:14] kettanaito commented on #74
I don't see the `peerDependency` on `msw` being bumped at all in the latest main:

https://github.com/mswjs/msw-storybook-addon/blob/1cb08724d687648b87d933fb7bc8fb2d91d2cda3/packages/msw-addon/package.json#L42-L44

@drianoaz, what you experience appears to be what is published.

I think we had a mistake in #76:

As MSW is pre-1.0, the `^` rage will _not_ include minor releases, only patch releases

[2022-04-08 14:28] yannbf commented on #74
Hey @kettanaito sorry for the trouble! I just merged a fix with a more explicit version range:
[code]

I think it's better than 0.x so that users are using at least a more up to date version. If you think it's better to just be more open than that and go with 0.x, I can do that too!

[2022-04-09 20:06] kettanaito commented on #78
Hey.

You can track requests and responses as they happen using the Life-cycle API that you've linked. Add-ons like the above is precisely why such API was designed. Give it a try and let me know if there's any challenges it imposes.

[2022-04-09 20:17] yannbf commented on #78
Thank you @kettanaito! I will make some experimentations in a near future

[2022-04-09 20:26] yannbf commented on #78
@coler-j I made some experimentations with addon actions and here are my findings.

You can use actions in `preview.js` for unhandled requests:

[code]

And it looks like this:

<img width="1259" alt="image" src="https://user-images.githubusercontent.com/1671563/162590466-f8a36456-bcc3-4d0d-af7d-a602b1d18ed0.png">

And for the story, you can call the action in the callback of the MSW handler:

[co

[2022-04-09 22:00] kettanaito commented on #78
I think the idea to create a panel for the add-on may be more suitable than utilizing `onUnhandledRequest` callback. We could hook into the `request:unhandled` life-cycle event instead inside the add-on, as we have access to the worker/server instance.

But first of all, we need to consider the usefulness of such a panel compared to the Network tab of the browser's devtools.

[2022-05-09 11:00] oscard0m commented on #55
I'm missing knowledge on this but seems that Puppeteer and Playwright are struggling with this as well:
- https://github.com/puppeteer/puppeteer/issues/4041
- https://github.com/puppeteer/puppeteer/issues/2634
- https://github.com/microsoft/playwright/issues/1090

@Robdel12 is Percy based on Puppeteer or Playwright? Or it is interacting directly with CDP?

---

In comments, they mention some Chrom

[2022-05-09 11:03] oscard0m commented on #55
Is there a way to use `@mswjs/http-middleware` but to set the handlers at Story level? I would like to apply a certain handler for a concrete set of Stories and not share all the list of mocks for all the Stories.

@andrzej-kodify

[2022-05-09 11:11] andrzej-kodify commented on #55
@oscard0m nothing obvious that I can think of here :(
As a workaround I'd probably try and play around with parameters to base the mock response on something that comes with request, or maybe `referer` header 🤔

[2022-05-10 22:52] oscard0m commented on #55
Also, @andrzej-kodify, does your example cover mock requests of external URL's or only localhost/? I'm having problems with that right now but I'm guessing `.storybook/middleware` only intercepts localhost requests. Is this correct?

[2022-05-11 05:08] andrzej-kodify commented on #55
@oscard0m only localhost, you could try to modify request url before it's sent or add an entry hooking given domain to 127.0.0.1 in the system hosts file to capture other traffic

[2022-05-12 20:00] mmirus opened #82 "Story-specific handler / request persisting after switching stories"
Hi there! Thanks for the add-on!

I'm running into a problem with a story that demos a loading state:
1. The Loading story applies a handler with `ctx.delay('infinite')`. This story works great!
    - Specifically, this is a graphql handler for a request from Apollo Client.
2. But when I load that story and then switch to another story in the same file, that second story also appears as loading fo

[2022-05-13 06:27] solace commented on #63
For anyone else who encounters this, it took me too long to realise that this works fine when you're looking at the individual canvases but not when you're looking at them all at once on the Docs tab.

[2022-05-13 06:36] solace opened #83 "Should per story handlers work on the Docs tab when all stories are presented on the same page?"
I'm not certain if this is actually related to #63, but when I have multiple stories displayed on the Docs page with different returns on the same handler endpoint/method, only the last one is applied. Works fine on the individual story canvases as they're treated independently.

In addition to the example provided in #63, if there is a story without any handlers placed last, it causes all of the

[2022-05-13 07:52] oscard0m commented on #55
Just for the ones interested:

Until this issue moves forward, the temporal solution we are using in our company is [storybook-addon-mock](https://github.com/nutboltu/storybook-addon-mock).

It does not rely on a Service Worker so Percy seems to like it.

[2022-05-26 22:15] andyvanee commented on #74
Not sure if this issue is considered closed, but it looks like `msw 0.41.0` introduces some breaking change related to GraphQL queries. Maybe it's better pre-1.0 to lock to tested versions?

[2022-05-26 23:13] kettanaito commented on #74
Hey, @andyvanee 👋 To my best knowledge, there shouldn't be any breaking changes to how GraphQL operations are intercepted/mocked. Please, if you experience any issues around that, could you [submit an issue](https://github.com/mswjs/msw/issues/new/choose) with a reproduction repository?

[2022-05-26 23:15] kettanaito commented on #74
Given that a pre-1.0 package can (and will) introduce breaking changes in minor versions, I still think that it's a much safer strategy to lock in the peer dependency to an exact minor version and have it updated manually with each release. The worst that would happen to people running old version is that they won't get new features and bugfixes (custom resolutions is still a thing). The worst tha

[2022-05-26 23:15] kettanaito commented on #74
@yannbf, sorry for ping/ponging on this for some time but what do you think about this as of now?

[2022-05-27 01:53] andyvanee commented on #74
Sure @kettanaito, unfortunately the project I'm working on has a rather complex config, so I haven't been able to isolate the issue for a clean repro 😭 . All I know is that dependabot upgraded us to `msw 0.41.0` which broke storybook and reverting to `0.39.2` solves the issue. This is the console error:

[code]

I will dig in a bit more to see if I can reproduce. Thanks!

[2022-06-15 08:47] ekeijl commented on #67
I think it would be really useful if we can access the `context` in this function (e.g. `globals`/`parameters`, see [here for an example](https://storybook.js.org/docs/react/essentials/toolbars-and-globals)), even more so than `args`. Sometimes you want to quickly switch between datasets, which is a separate concern from the `args` that control the component's UI.

**Use case**: you could make a t

[2022-06-16 07:19] sxw1 opened #85 "Using with Jest: ReferenceError: fetch is not defined"
When I'm using the add-on, I have problem running unit test with Jest with error:
`ReferenceError: fetch is not defined`
I've tried solution in this issue: https://github.com/mswjs/msw/issues/686
But after importing `whatwg-fetch` in setupFile.js for Jest the mocked response won't be returned for the story.
Is there way to use add-on with Jest?

[2022-06-17 12:22] dannyhw commented on #50
This often happens for me the msw addon and vite builder but if I stop and start storybook it works again

[2022-06-23 07:46] tomcarter17 commented on #29
@kettanaito - I'm having a similar issue using the latest versions of `msw` (`0.42.2`) and this addon (`1.6.3`).

I'm seeing the mocking behaviour perfectly functional when running the development Storybook server, but when serving a static build through `http-server`, it appears that the addon doesn't initialise at all. I can't see any errors to be able to show here either unfortunately.

The onl

[2022-06-23 09:40] kettanaito commented on #85
Hey, @sxw1.

Can you please share a reproduction repository of what you're trying to do? It sounds like you're testing stories with Jest. I'd like to see how exactly you have that set up.

I believe you've followed the correct steps: `fetch` was missing because there's no such thing as fetch in later versions of Node. That's where I need to have a look at a repository, the actual code, to see if y

[2022-06-23 09:46] kettanaito commented on #83
Hey, @solace. Thanks for raising this.

On a technical level, when you load multiple stories at once, all of them begin to communicate with a single worker. But even more, all of them share the same list of handlers because this is how MSW manages handlers internally. So if the latest story appends a runtime handler, let's say, then it will affect all the other stories as well, given they make a m

[2022-06-23 09:49] kettanaito commented on #77
Double-checking is your Storybook also running on `https://cdn.blabla.no/blabla/blablabla-storybook`? The origin of the worker and the origin of your Storybook must be the same, otherwise worker wouldn't register. You should really see error messages in your case anyway, the silent registration failure usually means you're not calling `setupWorker` (in the context of this add-on, you're not settin

[2022-06-23 13:42] kettanaito commented on #29
Looks like you're not serving the worker script. Make sure:

- You have generated the script via `npx msw init <PUBLIC_DIR>`;
- You are using the `-s` flag for Storybook CLI to serve the public dir.

[2022-06-23 16:17] yannbf commented on #29
Great to know you figured that out @tomcarter17! I'd recommend using the new notation of [staticDirs](https://storybook.js.org/docs/react/configure/images-and-assets#serving-static-files-via-storybook-configuration) which would have avoided such issue in the first place, as it's shared between dev and build in Storybook!

[2022-06-28 02:42] solace commented on #83
Hi @kettanaito, that makes perfect sense and it is a tricky issue to resolve.

The docs page showing multiple stories on the page by default is convenient, but given the nature of the problem, it might be better to use custom docs pages when using storybook with msw. Could this caveat be added to the addon docs?

Thanks!

[2022-06-30 06:41] tnzk commented on #83
I've encountered the same issue. I'm not sure how the docs page work, but a separate service worker inside each iframe wouldn't be an option?

[2022-07-07 05:13] tomgardiner-retailx commented on #82
I'm having this exact same issue - and it was related to when I started specifically passing in multiple mocks to the msw handler. I still don't know what's causing the issue, but thanks for your workaround.

Example of what caused it:
[code]

[2022-07-13 12:05] shiraze commented on #36
I have a similar issue when using fetch-mock - see https://github.com/storybookjs/storybook/issues/18702

[2022-07-18 12:40] kaesepowl commented on #74
@andyvanee i could fix that error with upgrading my graphql client to the newest version `"graphql": "^16.5.0"`

[2022-07-21 15:06] aaronmcadam commented on #82
This seems to be an issue with msw 0.4x, as we don't see the problem with 0.3x.

@yannbf I've recreated this problem in a branch of the mealdrop app here: https://github.com/aaronmcadam/mealdrop/tree/am-persisting-mocks

Any ideas?

[2022-07-21 15:16] aaronmcadam commented on #82
Here's a screencap of the issue:
![CleanShot 2022-07-21 at 16 03 41](https://user-images.githubusercontent.com/37928/180250217-8ff94483-19a1-4dec-9059-f859eabe47d9.gif)

[2022-07-28 14:53] melissawahnish commented on #82
I also experienced this when mocking different graphql query responses within the same storybook file.  @mmirus's solution does work.  Please let us know if this issue is addressed.  Thanks!

[2022-07-29 11:01] aaronmcadam commented on #82
I think if we had some way of resetting handlers like we can in unit tests (with `server.resetHandlers()`), that might help us make sure the story uses the correct handler.

[2022-08-07 10:46] YaNokk commented on #67
Any progress?

[2022-08-07 10:52] YaNokk commented on #67
Hello, are there any news?

[2022-08-08 22:08] welcomzyh1234 opened #87 "Demos Doesn't Work"
Hi,
I want to mock hooks via react-query, and referred the demos in this package https://github.com/mswjs/msw-storybook-addon/tree/main/packages/docs/src/demos/react-query for implementation. However, I found the demos are not working either on my side, or on official page https://msw-sb.vercel.app/?path=/story/demos-react-router-rq--mocked-film-subsection.
We can see that for Default, success and

[2022-08-08 22:09] welcomzyh1234 commented on #87
Actually, from https://msw-sb.vercel.app/?path=/story/demos-apollo--default-behavior, we can find that not only react query demo is not working, all of the demos are not working properly.

[2022-08-10 08:15] philjones88 commented on #82
Also experiencing this with rest handlers. Can't seem to override global handlers I defined in my preview file either.

[2022-09-06 15:40] fazulk commented on #82
Noticing this aswell using 1.6.3. Thankfully doesn't affect chromatic tests.

[2022-09-07 09:28] philjones88 commented on #82
I kinda work around this by setting RTK's `refetchOnMountOrArgChange` to `true`. That seems to workaround the issue and swapped to named handlers not arrays.

[2022-09-07 16:03] mattduggan commented on #82
I've run into this issue and noticing that the way `initialize` works introduces a memory leak in the test environment if you reuse your stories there.

[MSW documentation](https://mswjs.io/docs/getting-started/integrate/node#using-create-react-app) covers reseting handlers between tests and closing the server after each test file has completed. [Storybook documentation](https://storybook.js.org/d

[2022-09-07 16:17] aaronmcadam commented on #82
How are you doing that?

[2022-09-07 18:01] mattduggan commented on #82
Copy/pasting the internals of `mswDecorator`, replacing the `api` reference with our server.

[code]

[2022-09-15 15:00] mattduggan commented on #82
Here's something a little better I have working:
[code]

Usage:
[code]

In my case, I'm also using `@mswjs/data` for mocks, which can be used independently of `msw` itself. In my decorator, I've added a `drop(db)` to `onUnmount` to ensure it's clean between Stories. YMMV.

[2022-09-29 13:20] coofzilla commented on #82
I'm having the same issue as this. I tried to import all my handlers into `preview.js` and then only add the handler required for each story, but that didn't work either. Like the others above, my current solution has just been to refresh.

[code]

[code]

[code]

[2022-09-29 21:09] JohnValJohn commented on #82
I thought I had the same issue, but it turned out that my problem was actually this one : https://github.com/mswjs/msw/issues/251#issuecomment-650200531 (I am using Apollo and the requests were cached and never re-executed)

[2022-09-29 21:26] mmirus commented on #82
@JohnValJohn Did you find a way to clear the cache when switching stories?

[2022-09-29 21:48] JohnValJohn commented on #82
Yes, but it's ugly, I am sure there is a better way.

`const ResetMocks = ({ children }: { children: ReactNode }) => {
  const initialRender = useRef(true);
  const [isReady, setIsReady] = useState(false);
  const client = useApolloClient();

  if (initialRender.current) {
    client.resetStore().then(
      () => {
        setIsReady(true);
      }
    );
  }

  useEffect(() => {
    initialRende

[2022-10-09 17:03] vilkg commented on #56
Hey! Any plans to make this work in new future?

[2022-10-19 13:15] hstevanoski commented on #87
It turns out you don't need this plugin to integrate Storybook and MSW. Instead, the integration seems a lot more straightforward and it doesn't rely on any third-party packages (which is cool in itself):
https://egghead.io/lessons/next-js-integrate-msw-and-storybook

[2022-10-22 11:12] DGollings commented on #74
Hi, whilst debugging issue https://github.com/mswjs/msw/issues/1442 I realized that none of the fixes released for https://github.com/mswjs/msw/issues/929 would be in version `>=0.35.0 <1.0.0`. So was wondering if it was possible to use a more a recent version of msw in this addon.

Then I realized that I manually added the latest msw and used that to generate the `mockServiceWorker.js` in `public

[2022-10-24 10:20] kettanaito commented on #74
That doesn't sound correct. The fix was introduced in `0.x.0` and it does match the semver you've posted. The other issue is that a pre-1.0 release contains breaking changes in minor version bumps, so this addon intentionally locks MSW peer dependency on minor versions (or, at least, it used to).

[code]

Once again, pull requests are welcome to update `msw`.

[2022-10-24 10:22] kettanaito commented on #74
Also, I now see that the version lock was removed in https://github.com/mswjs/msw-storybook-addon/pull/81 so this issue doesn't stand anymore. Any minor version of MSW will be pulled in, so it's your responsibility to choose which version you want to use.

[2022-10-24 10:22] #74 closed

[2022-10-28 22:53] guissimatheus commented on #77
So, I kinda have the same problem.
I have a SignIn View that mocks the login request at the stories in the Storybook. If I run it local, it works as expected, but it won't work at my GitHub repository as it can't find the **mockServiceWorker.js** file.

My application: https://guissimatheus.github.io/design-system-react
My repo: https://github.com/guissimatheus/design-system-react

If you go to th

[2022-11-08 14:29] vojty opened #88 "Allow to initialize the worker with request handlers"
I have an array of request handlers that covers all endpoints for the whole app. I use these as default responses in unit tests (so I don't have to constantly define handlers for endpoints like `/notifications` etc) and override them when necessary.
However, I wasn't able to achieve that with this plugin. The overriding & merging of handlers work differently here and it doesn't exactly fit my need

[2022-11-15 17:49] WesleyKapow commented on #77
Ran into this myself.

Work around is to tell MSW where to look for the file. One gotcha is you'll likely want to have it be different for github pages vs running locally.

[code]

https://msw-sb.vercel.app/?path=/story/guides-getting-started--page#configuring-msw
https://mswjs.io/docs/api/setup-worker/start#serviceworker

[2022-11-22 17:58] FezVrasta opened #89 "Story not waiting for MSW to be ready before running"
We are experiencing an issue where the story is executed/rendered before MSW is ready. We can see in the console that some requests run before the "MSW is ready" console log.

Is there any solution to this problem? We are running the most recent version of the plugin and Storybook 6.5.10

[2022-11-22 19:06] yannbf commented on #89
Hey @FezVrasta thanks for opening this issue! I wonder if you could experiment with making local changes to your dependency and include the following code changes:
https://github.com/mswjs/msw-storybook-addon/compare/main...lyleunderwood:feat/add-experimental-loaders

Then, instead of doing this in your `preview.js` file:
[code]

do this:
[code]

And let me know if that fixes your problem?

[2022-11-26 02:10] FezVrasta commented on #89
Thanks. We use Storyshots and async loaders are not supported with it ☹️

[2022-11-27 11:05] yannbf commented on #89
Did you try using the Storybook test runner? https://github.com/storybookjs/test-runner

Storyshots will be discontinued at some point in favor of the test runner, which supports every feature of Storybook (including loaders), snapshots etc.